* {
    border: 1px solid;
}

body {
    display: flex;
    align-items: flex-end;
}

aside {
   height: 100vh;
   width: 30vw;
   background:url(halie-west-unsplash.jpg);
   background-size:cover;
}

div {
    height: 100vh;
    width: 70vw;
}

section {
    height: 35vh;
}

form {
    height: 30vh;
}